.sign-in {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.error-message {
    margin-bottom: 64px;
    width: 100%;
    text-align: center;
    color: red;
    border: 1px solid red;
    padding: 12px 0px;
    border-radius: 12px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

.form-item {
    margin-bottom: 16px;
}

    .form-item > label {
        margin-bottom: 4px;
    }

.button-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

button {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: green;
    color: white;
    padding: 8px 32px;
    border-radius: 8px;
}
