@page "/coursedatabases/create"
@using Microsoft.EntityFrameworkCore
@using FSDProject.Domain
@inject IDbContextFactory<FSDProject.Data.FSDProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>CourseDatabase</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="CourseDatabase" OnValidSubmit="AddCourseDatabase" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="languagename" class="form-label">LanguageName:</label> 
                <InputText id="languagename" @bind-Value="CourseDatabase.LanguageName" class="form-control" /> 
                <ValidationMessage For="() => CourseDatabase.LanguageName" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/coursedatabases">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private CourseDatabase CourseDatabase { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCourseDatabase()
    {
        using var context = DbFactory.CreateDbContext();
        context.CourseDatabase.Add(CourseDatabase);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/coursedatabases");
    }
}
