@page "/coursedatabases"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FSDProject.Domain
@using FSDProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FSDProject.Data.FSDProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="coursedatabases/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.CourseDatabase">
    <PropertyColumn Property="coursedatabase => coursedatabase.LanguageName" />

    <TemplateColumn Context="coursedatabase">
        <a href="@($"coursedatabases/edit?coursedatabaseid={coursedatabase.CourseDatabaseId}")">Edit</a> |
        <a href="@($"coursedatabases/details?coursedatabaseid={coursedatabase.CourseDatabaseId}")">Details</a> |
        <a href="@($"coursedatabases/delete?coursedatabaseid={coursedatabase.CourseDatabaseId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private FSDProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
